.book-info {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.book-info__media,
.book-info__details {
  width: 100%;
}

.book-info__details {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 1024px) {
  .book-info {
    flex-direction: row;
  }

  .book-info__media,
  .book-info__details {
    width: 50%;
  }
}
